aiohttp==3.8.4
aiosignal==1.3.1
async-timeout==4.0.2
attrs==23.1.0
base58==2.1.1
bitarray==2.7.4
certifi==2023.5.7
charset-normalizer==3.1.0
cytoolz==0.12.1
eth-abi==2.2.0
eth-account==0.5.9
eth-hash==0.5.2
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.9.5
frozenlist==1.3.3
hexbytes==0.3.1
idna==3.4
importlib-resources==5.12.0
ipfshttpclient==0.8.0a2
jsonschema==4.17.3
lru-dict==1.2.0
multiaddr==0.0.9
multidict==6.0.4
netaddr==0.8.0
parsimonious==0.8.1
pkgutil_resolve_name==1.3.10
protobuf==3.20.3
pycryptodome==3.18.0
pyrsistent==0.19.3
regex==2023.6.3
requests==2.31.0
rlp==2.0.1
six==1.16.0
termcolor==2.3.0
toolz==0.12.0
urllib3==1.26.16
varint==1.0.2
web3==5.30.0
websockets==9.1
yarl==1.9.2
zipp==3.15.0
